# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Temporary files
*.swn
*.swo
*.swp

# Generated C files
lib/utils/*.c

# Data
data/

# Outputs
Outputs/

# Weights
detection_models/ 
trained_models/

#Test
test/
